:root
{
    --footer-color-gradient: linear-gradient(to right, #595959 0%, #393939 100%);
    --footer-color-gradient-down: linear-gradient(to bottom, #595959 0%, #393939 100%);
    --footer-color-solid: #393939;
    
    --yellow-accent-color: #fcd40c;
    --yellow-accent-gradient: linear-gradient(to right, #fcd40c 0%, #e8c102 100%);
    --pink-accent-color: #ee2345;  
    
    --bg-color: #f3f3f3;
    --box-shadow-color: #a1a1a1;
    
    --md-margin: 24px;
    --lg-margin: 48px;

    --xsm-padding: 6px;
    --sm-padding: 12px;
    --md-padding: 24px;
    --lg-padding: 48px;

    --heading-font: 'Yeseva One', cursive;
    --sub-heading-font: 'Galada', cursive;
    --body-font: 'Open Sans Condensed', sans-serif;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body
{
    width: 100%;
    height: 100%;
}

main
{
    width: 100%;
    grid-template-columns: 1fr;
}

footer
{
    background: var(--footer-color-solid);
    min-height: 50px;
    width: 100%;
    color: white;
}

h1, h2
{
    font-family: var(--heading-font);
    text-transform: uppercase;
}

h3, h4
{
    font-family: var(--sub-heading-font);
}

h3
{
    color: var(--pink-accent-color);
}

h5, h6, p, li, a, input, textarea
{
    font-family: var(--body-font);
}

input, textarea
{
    border: 1px solid grey;
    border-radius: 2px;
}

input[type="text"], input[type="email"], input[type="submit"], textarea
{
    padding: var(--sm-padding) var(--xsm-padding);
    font-size: 0.9em;
    transition: 0.2s;
}

input[type="submit"]
{
    color: white;
    background-color: var(--pink-accent-color);
    border: 1px solid var(--pink-accent-color);
    transition: 0.2s;
}

input[type="submit"]:hover
{
    color: var(--pink-accent-color);
    background-color: white;
}

input[type="text"]:focus, input[type="text"]:hover, input[type="email"]:focus, input[type="email"]:hover, textarea:hover, textarea:focus
{
    border: 1px solid var(--pink-accent-color);
    font-size: 0.9em;
}

.grid-container
{
    display: grid;
}

nav
{
    position: fixed;
    background-color: var(--bg-color);
    height: 50px;
    width: 100%;
    grid-template-columns: var(--md-margin) 50px auto repeat(2, 50px);
    align-content: center;
    grid-auto-rows: 50px;
    text-align: center;
    z-index: 1000;
    box-shadow: 0px 3px 12px var(--box-shadow-color);
}

ul li
{
    list-style: none;
}

.logo-container, #login-nav, #hamburger-nav
{
    line-height: 50px;
    cursor: pointer;
    transition: 0.2s;
}

.logo-container
{
    display: block;
    height: 50px;
    width: 50px;
    grid-column: 2 / 3;
}

.logo-container img
{
    position: relative;
    display: block;
    height: 30px;
    width: auto;
    top: 10px;
    transition: 0.2s;
}

.logo-container img:hover
{
    transform: rotate(180deg);
}

#login-nav
{
    grid-column: 4 / 5;
}

#login-nav:hover
{
    color: white;
    background-color: var(--pink-accent-color);
}

#hamburger-nav
{
    grid-column: 5 / 6;
    background-color: var(--yellow-accent-color);
    width: 50px;
    height: 50px;
}

#hamburger-nav:hover
{
    color: var(--yellow-accent-color);
    background-color: var(--footer-color-solid);
}

#about .section-content img
{
    width: 100px;
    border-radius: 50%;
    margin: var(--lg-margin) auto; 
}

section 
{
    grid-template-rows: 100px auto 50px;
}

#jumbotron
{
    grid-template-rows: 50px auto 50px;
}

.section-header
{
    background-color: var(--bg-color);
}

.section-header h2
{
    margin-top: var(--lg-margin);
}

.section-header, .section-content, .section-footer
{
    grid-template-columns: var(--md-margin) auto var(--md-margin);
}

.section-content
{
    background-color: var(--bg-color);
}

.section-header > *, .section-content > *, .section-footer > *
{
    grid-column: 2;
}

.section-footer
{
    background: var(--footer-color-solid);
    background: var(--footer-color-gradient);
}

.section-footer::after
{
    position: relative;
    display: block;
    content: "";
    grid-column: 1 / span 3;
    height: 4px;
    width: 100%;
    top: 100%;
    left: 0;
    background: var(--yellow-accent-color);
    background: var(--yellow-accent-gradient);
}

#jumbotron .section-content .gallery-spinner
{
    display: block;
    position: relative;
    height: 200px;
    width: 100%;
    grid-column: 1 / span 3;
    background-color: var(--bg-color);
}

.picture-frame
{
    grid-template-rows: 32px auto 32px;
    background-color: white;
    margin: var(--md-margin) 0;
    box-shadow: 3px 3px 12px var(--box-shadow-color);;
    height: 250px;
}

#contact .section-footer
{
    background: var(--footer-color-gradient-down);
}

#contact .section-footer::after
{
    top: 0;
}

#contact form.grid-container
{
    grid-gap: 0.5rem;
}

@media (min-width: 426px)
{
    #login-nav
    {
        display: none;
    }
}

@media (min-width: 769px)
{
    #hamburger-nav
    {
        display: none;
    }
}