:root
{
    --main-font-family: 'Pontano Sans', sans-serif;
    --secondary-font-family: 'Playfair Display SC', serif;
    --inactive-text-color: #9c9c9c;
    --sm-letter-spacing: 2px;
    --med-letter-spacing: 4px;
    --lg-letter-spacing: 6px;
    --xlg-letter-spacing: 8px;
    --sm-padding: 8px;
    --med-padding: 16px;
    --lg-padding: 32px;
    --sm-margin: 8px;
    --med-margin: 16px;
    --lg-margin: 32px;
    --sm-font-size: 0.9em;
    
}

*
{
    box-sizing: border-box;
    font-family: var(--main-font-family);
}

a
{
    text-decoration: none;
    color: var(--inactive-text-color);
}

a:hover
{
    text-decoration: underline;
    color: #212121;
}

html, body, ul, h1, h2, h3, h4, h5, h6
{
    margin: 0;
    padding: 0;
}

html, body
{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

ul li
{
    list-style: none;
}

.company-info
{
    position: absolute;
    display: grid;
    top: var(--lg-margin);
    right: var(--lg-margin);
    color: var(--inactive-text-color);
    align-content: stretch;
    grid-auto-rows: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.company-info p
{
    position: relative;
    display: block;
    margin: 0;
    text-align: right;
}

.company-info p i 
{
    margin-right: var(--sm-margin);
}

.animated-logo-container
{
    display: block;
    position: relative;
    height: 30px;
    width: 36px;
    justify-self: right;
}

#splash-screen
{
    display: grid;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    transform: rotate(-20deg) scale(1.5);
}

.bg-decor
{
    grid-row-start: 1;
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-end: 5;
    background-color: rgba(255, 255, 255, 1);
}

.bg-pink
{
    grid-row: 1 / span 7;
    grid-column: 1 / span 7;
    background-color: #ee2345;
}

.splash-navigation
{
    grid-row: 5;
    grid-column: 4 / span 2;
    align-self: flex-start;
}

.splash-navigation li 
{
    display: inline-block;
    position: relative;
    text-align: center;
    color: #fff;
}

.splash-navigation li a 
{
    padding: var(--sm-padding) var(--sm-padding);
    font-size: var(--sm-font-size);
    color: #fff;
}

#splash-screen h1
{
    text-align: right;
    height: fit-content;
    align-self: flex-end;
    font-size: 8em;
    color: #fff;
    font-family: var(--secondary-font-family);
    letter-spacing: var(--lg-letter-spacing);
}

#ding-logo
{
    grid-row: 3;
    grid-column: 2 / span 2;
}

#dong-logo
{
    grid-row: 4;
    grid-column: 2 / span 2;
}

#splash-screen h4
{
    grid-row: 4;
    grid-column: 4 / span 2;
    align-self: flex-end;
    font-size: 6em;
    letter-spacing: var(--lg-letter-spacing);
}
